<form (ngSubmit)="submitForm()" [formGroup]="registerForm" autocomplete="off">
  <div style="display: flex; justify-content: center">
    <mat-card class="form-container">
      <mat-card-title>로그인하기</mat-card-title>

      <!-- Username -->
      <div>
        <mat-form-field>
          <mat-label>이메일</mat-label>
          <input
            matInput
            placeholder="Ex. some@email.com"
            formControlName="email"
            autocomplete="email"
          />
        </mat-form-field>
      </div>
      <!-- /Username -->

      <!-- Password -->
      <div>
        <mat-form-field>
          <mat-label>패스워드</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ex. s3c3tP@ss"
            formControlName="password"
            autocomplete="password"
          />
        </mat-form-field>
      </div>
      <!-- /Password -->

      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onLogin()"
        >
          로그인
        </button>
        <p>
          계정이 없으신가요?
          <a routerLink="/register">가입하기</a>
        </p>
      </div>
    </mat-card>
  </div>
</form>
