<ng-container *ngIf="isAuthenticated">
  <mat-card class="form-container">
    <p>글 작성하기</p>

    <form [formGroup]="postForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>제목</mat-label>
        <input
          matInput
          placeholder="Ex. Pizza"
          value="Sushi"
          formControlName="title"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>상세글</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="content"
          cdkTextareaAutosize="true"
          cdkAutosizeMinRow="2"
        ></textarea>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >
        작성하기
      </button>
    </form>
  </mat-card>
</ng-container>
