<form (ngSubmit)="onRegister()" [formGroup]="registerForm" autocomplete="on">
  <div style="display: flex; justify-content: center">
    <mat-card class="form-container">
      <mat-card-title>가입</mat-card-title>

      <!-- email -->
      <div class="mat-form-field">
        <mat-form-field>
          <mat-label>이메일</mat-label>
          <input
            matInput
            placeholder="Ex. abc@abcd.com"
            formControlName="email"
            autocomplete="email"
          />
        </mat-form-field>
      </div>
      <!-- /email -->

      <!-- Username -->
      <div class="mat-form-field">
        <mat-form-field>
          <mat-label>닉네임</mat-label>
          <input
            matInput
            placeholder="nickname"
            formControlName="nickname"
            autocomplete="name"
          />
        </mat-form-field>
      </div>
      <!-- /Username -->

      <!-- Password -->
      <div class="mat-form-field">
        <mat-form-field>
          <mat-label>패스워드</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ex. s3c3tP@ss"
            formControlName="password"
            autocomplete="new-password"
          />
        </mat-form-field>
      </div>
      <!-- /Password -->

      <!-- Confirm Password -->
      <div class="mat-form-field">
        <mat-form-field>
          <mat-label>패스워드 확인</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ex. s3c3tP@ss"
            formControlName="confirmPassword"
            autocomplete="new-password"
          />
        </mat-form-field>
      </div>
      <!-- Confirm Password -->

      <div class="register">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onRegister()"
        >
          가입
        </button>
        <p>
          이미 계정이 있으세요?
          <a routerLink="/login">로그인</a>
        </p>
      </div>
    </mat-card>
  </div>
</form>
